extends application

block header-contents-followup
  .row#top_navbar.bg-faded
    nav.navbar.navbar-light
      ul.nav.navbar-nav
        li.nav-item: span.nav-link Configure:
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle#dropdown_config_button(
            href='#' data-toggle='dropdown' aria-haspopup=true aria-expanded=false
          )
            = configOptionTitle
          .dropdown-menu(aria-labelledby='dropdown_config_button')
            a.dropdown-item(href=router.newHospitalPath) Hospital
            a.dropdown-item(href=router.wardsPath) Wards
            a.dropdown-item(href='#') Services
            a.dropdown-item(href='#') Service Levels
        li.nav-item.float-xs-right#nav_item_back
          a.btn.btn-outline-primary.btn(href='#') Back
        li.nav-item.float-xs-right#nav_item_save
          a.btn.btn-outline-primary.btn(href='#') Save